<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template/fragment/header :: common_header(~{::title},~{::link})">
    	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>Main Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/homeStyle.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <div th:replace="template/fragment/header :: new-nav"></div>
        <!-- Page header with logo and tagline-->
        <div th:replace="template/fragment/header :: new-header"></div>
        <!-- Page content-->
        <div class="container">
            <div class="row">   
            	<!-- Blog entries-->
                <div class="col-lg-8">
                	<form th:object="${boardUpdateForm}" action="/board/update" method="post">
                		<!-- boardSeq -->
                		<input type="hidden" class="form-control" th:field="*{boardSeq}">
  						
                		<!-- title -->
 		 				<div class="form-group">
    						<label for="title">제목</label>
    						<input type="text" class="form-control" th:field="*{title}" placeholder="Title">
  						</div>
  						<!-- uesr Id(임시)  -->
  						<div class="form-group">
    						<label for="userId">글쓴이</label>
    						<input type="text" class="form-control" th:field="*{userId}" placeholder="user-id" disabled>
  						</div>
  						<!-- contents -->
  						<div class="form-group">
    						<label for="contents">내용</label>
    						<textarea class="form-control" th:field="*{contents}" rows="5" placeholder="contents"></textarea>
  						</div>
  						<div class="form-group">
							<button type="submit" class="btn btn-primary">등록하기</button>
						</div>
					</form>
                </div>
                
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
