<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,link)">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title th:replace="${title}">nav바</title>

<!-- 공통  -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- 추가 -->
<th:block th:replace="${link}" />

</head>
<body>
	<!-- title은 페이지 이름, links는 다른 라이브러리 추가, type은 게시판 타입 -->
	<header th:fragment="nav">
		<div id="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/board/list"
						th:href="@{/board/list/1}">HOME</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active"
								th:text="${data}" aria-current="page" href="/index">Home</a></li>
						</ul>
						<form class="d-flex">
							<input class="form-control me-2" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</div>
	</header>





	<!-- blog 공통 fragment  -->


	<!-- head -->
	<header th:fragment="new-header"
		class="py-5 bg-light border-bottom mb-4">
		<div class="container">
			<div class="text-center my-5">
				<h1 class="fw-bolder">Welcome to Home!</h1>
				<p class="lead mb-0">A Bootstrap 5 starter layout for your next
					blog homepage</p>
			</div>
		</div>
	</header>


	<!-- nav -->
	<nav th:fragment="new-nav"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" th:href="@{/board/list/1}">Start
				Bootstrap</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/board/list/1}">Home</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li>  -->
					<!-- <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>  -->
					<!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li> -->
				</ul>
			</div>
		</div>
	</nav>


	<!-- Search widget-->
	<div th:fragment="search-widget" class="card mb-4">
		<div class="card-header">Search</div>
		<div class="card-body">
			<form class="input-group" action="/board/list/1" method="get">
				<input class="form-control" type="text" id="keyword" name="keyword"
					placeholder="Enter search term..."
					aria-label="Enter search term..." aria-describedby="button-search" />
				<button class="btn btn-primary" id="button-search" type="submit" >Search</button>
			</form>
		</div>
	</div>

<script>

</script>
</body>
</html>